
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap');

* 	{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Paaji 2', sans-serif;
    color: #8E9297;
	}

.container
{
	display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
	margin: 0 auto;
	width: 300px;
	height: 100vh;

	
}
input {
    width: 100%;
    display: block;
    padding: 0 10px;
    height: 30px;
    background: #202225;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}
body
{
	 background: #2F3136;
	 min-width:100vw ;
	 min-height:100vh;
}
button
{
 display: inline-block;
    margin-top: 15px;
    background: #393C43;
    height: 30px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: #43B581;
    font-size: 15px;
    text-decoration: none;
    vertical-align: bottom;
}
form
{
 width:100%;
}